---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Bookstore+Awesome%2C+Boston%2C+Massachusetts+was+just+added%21+Check+it+out+at%3A+https%3A%2F%2Fwww.literalist.herokuapp.com%2Fbookstores
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YOUR_CONSUMER_KEY>", oauth_nonce="498425559cdc3b98ad63138e3b11c95f",
        oauth_signature="8%2Fg4wm9FOYMGesEbWrrIKRK1Q3Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460383667", oauth_token="<YOUR_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 11 Apr 2016 14:07:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 83807ddd814a2031880f9d8e416c6f54
      X-Response-Time:
      - '165'
      X-Transaction:
      - 54d5d197e1bf23b2
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Mon Apr 11 14:07:48 +0000 2016","id":719527373885075456,"id_str":"719527373885075456","text":"Bookstore
        Awesome, Boston, Massachusetts was just added! Check it out at: https:\/\/t.co\/vZD6dtYQYu","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/vZD6dtYQYu","expanded_url":"https:\/\/www.literalist.herokuapp.com\/bookstores","display_url":"literalist.herokuapp.com\/bookstores","indices":[74,97]}]},"truncated":false,"source":"\u003ca
        href=\"https:\/\/literalist.herokuapp.com\/bookstores\" rel=\"nofollow\"\u003eLiteralist\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":718518529524428801,"id_str":"718518529524428801","name":"Literalist","screen_name":"literalist_app","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 08 19:19:01 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":6,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Mon, 11 Apr 2016 14:07:49 GMT
recorded_with: VCR 3.0.1
