
/*.logo2 {
  font-family: 'Didact Gothic', sans-serif;
}

.search_bar {
  font-family: 'Didact Gothic', sans-serif;
  display: inline-block;
  float: right;
  font-size: 0.5em;
  position: relative;
  bottom: 90px;
  left: 10px;
}*/
