<h1>Welcome Admin!</h1>

<table class="small-12 columns">
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Delete", "/admin/users/#{user.id}", id: "delete#{user.id}", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
